# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.venv/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Large files
datasets/pitchfork_reviews_cleaned.csv
datasets/merged_dataset.csv
datasets/unique_albums_mb.csv
datasets/recommendations_album_level_avg_embeddings.parquet

# OS files
.DS_Store
Thumbs.db
*:Zone.Identifier
*.Zone.Identifier

# VS Code
.vscode/
