# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.venv/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Large files
datasets/pitchfork_reviews_cleaned.csv
datasets/merged_dataset.csv

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
